In [2]:
print('a')

a

In [2]:
('concatenate ' 'these ' 'together')
('concatenate' 'these' 'together')

'concatenatethesetogether'

In [3]:
d = 0
print("d is ", d)
print('e is ', e)

d is  0

NameError: name 'e' is not defined

In [6]:
d=8*7
print(d)
d = d + 100
print(d)
d += 100
print(d)
d /= 10
print(d)

56
156
256
25.6

In [9]:
str = "Jumping cow over the moon"
dividedstr = str.split(" ")
print(dividedstr)
print('number of words are: ',len(dividedstr))

['Jumping', 'cow', 'over', 'the', 'moon']
number of words are:  5

In [18]:
msg="I am a golden god!"
print(msg[0])
print(msg[0:3])
print(msg[:4])
print('this string is ',len(msg),' letters long')
# go from 10th letter to the end
print(msg[10:])
# last 6 letters of the string
print(msg[-6:])

I
I a
I am
this string is  18  letters long
den god!
n god!

In [19]:
l = [2, 3, 5, 10]
print(sum(l))
print(max(l))
print(min(l))

20
10
2

In [21]:
mean = sum(l) / len(l)
print("mean is ", mean)

mean is  5.0

In [22]:
l = [10,3,17,4]
print('unsorted list:',l)
l.sort()
print('sorted list:', l)

unsorted list: [10, 3, 17, 4]
sorted list: [3, 4, 10, 17]

In [25]:
m = [100,3,62,500]
print('unsorted list:',m)
print('sorted list:', sorted(m))
print('unsorted list:',m)

unsorted list: [100, 3, 62, 500]
sorted list: [3, 62, 100, 500]
unsorted list: [100, 3, 62, 500]

In [26]:
ls = ['zf','fz','no','apple']
ls.sort()
print(ls)

['apple', 'fz', 'no', 'zf']

In [30]:
ls.append('1note')
ls.append('zz80')
ls.append('9ghi')
ls.append(10)
print(sorted(ls))

TypeError: '<' not supported between instances of 'int' and 'str'

In [44]:
q = "Symbol:NASDAQ=AAPL;Date:2015-10-01;Performance:Open=111.29,Close=109.56"
types = q.split(";")
print(types)
symbolset = types[0].split(":")
print(symbolset)
# will print
['Symbol', 'NASDAQ=AAPL']      
symbol = symbolset[1].split("=")
symbol
# will print
['NASDAQ', 'AAPL']
print(symbol[1])
# will print
'AAPL'
print(symbolset[1].split("=")[1])
# will print
'AAPL'

['Symbol:NASDAQ=AAPL', 'Date:2015-10-01', 'Performance:Open=111.29,Close=109.56']
['Symbol', 'NASDAQ=AAPL']
AAPL
AAPL

'AAPL'

In [40]:
q = "Symbol:NASDAQ=AAPL\t  Date:2015-10-01	Performance:Open=111.29,Close=109.56"
types = q.split("\t")
print(types)

types = q.split()
print(types)

['Symbol:NASDAQ=AAPL', '  Date:2015-10-01', 'Performance:Open=111.29,Close=109.56']
['Symbol:NASDAQ=AAPL', 'Date:2015-10-01', 'Performance:Open=111.29,Close=109.56']

In [43]:
print(repr(q))

print(q)

'Symbol:NASDAQ=AAPL\t  Date:2015-10-01\tPerformance:Open=111.29,Close=109.56'
Symbol:NASDAQ=AAPL	  Date:2015-10-01	Performance:Open=111.29,Close=109.56

In [45]:
print(symbol)

['NASDAQ', 'AAPL']

In [46]:
print("The stock exchange for",symbol[1], 'is',symbol[0])

The stock exchange for AAPL is NASDAQ

In [47]:
print("The stock exchange for %s is %s" % (symbol[1], symbol[0]))

The stock exchange for AAPL is NASDAQ

In [49]:
print("the symbol %s is from %s exch" %(symbol[0],symbol[1]))

the symbol NASDAQ is from AAPL exch

In [61]:
d=50
print("the answer is '%-10d' %.2f" % (d/23, d/23))
print("the answer is %10d %.2f"%(1000, 100))
print("the answer is %10d %.2f"%(22, 100))
print("the answer is %10d %.2f"%(212, 100))

the answer is '2         ' 2.17
the answer is       1000 100.00
the answer is         22 100.00
the answer is        212 100.00

In [69]:
print(f"The ans is {d:5} and also {d/10}")

The ans is    50 and also 5.0

In [76]:
print(f"The ans is {d} and also {d/10}" f"  {min(l)}")

TypeError: 'str' object is not callable

In [81]:
ls = ['a', 'b', 'c']
print(ls)
print(",".join(ls))

['a', 'b', 'c']
a,b,c

In [84]:
print("Do you want to volunteer for the mosquito trial?: ", "No "*10)

print('AC'*10)

Do you want to volunteer for the mosquito trial?:  No No No No No No No No No No
ACACACACACACACACACAC

In [87]:
seq1="AAGAGTCA"
seq2="TTGATAG"
print(seq1 + "N" * 50 +seq2)

AAGAGTCANNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNTTGATAG

In [90]:
bases="GGATAGAaattaNGGT"
print(bases.upper())
print(bases.lower())
print(bases)

GGATAGAAATTANGGT
ggatagaaattanggt
GGATAGAaattaNGGT

In [98]:
codestr= "17,20,30,12,5,6,19,13"
# split it into an array
dat=codestr.split(",")
# print the first item
print(dat)
print(sorted(dat))
print(dat[0])
# print the sum of the 2nd and 3rd items
# this won't work because they are strings
print(dat[1] + dat[2])
print(int(dat[1]) + int(dat[2]) )
intarray = [ int(x) for x in dat]
print(f'int array is {intarray}')
print(sorted(intarray))
print("total sum is: ",sum(intarray))

['17', '20', '30', '12', '5', '6', '19', '13']
['12', '13', '17', '19', '20', '30', '5', '6']
17
2030
50
int array is [17, 20, 30, 12, 5, 6, 19, 13]
[5, 6, 12, 13, 17, 19, 20, 30]
total sum is:  122